.navbar-main-container {
   display: flex;
   .app-header {
      position: fixed;
      width: 100%;
      background-color: $clr1;
      z-index: 3;
      padding: 0rem 2rem;

      .navbar-content {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         gap: 2rem;

         h2 {
            margin: 0;
            color: white;
         }

         nav {
            ul {
               display: flex;
               align-items: center;
               list-style-type: none;
               margin: 0;
               padding: 0;
               gap: 2rem;

               li {
                  a {
                     color: white;
                     text-decoration: none;
                     &:hover {
                        text-decoration: underline;
                     }
                  }
               }
            }
         }

         .user-info {
            margin-left: auto;
            .user-img {
               width: rem(40px);
            }
         }
      }
   }
   .h2-website-logo {
      display: flex;
      align-items: center;
      border-right: solid white 1px;
      padding: 0 1rem;
   }
   .website-logo {
      width: rem(60px);
   }

   .mobile-nav-open {
      ul {
         display: flex;
         flex-direction: column;
      }
   }

   .hamburger-menu {
      display: none;
   }
}

@media (max-width: 600px) {
   .hamburger-menu {
      position: relative;
      display: block !important;
      font-size: 2rem;
   }

   .nav-container {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $clr3;
      overflow: hidden;

      &.mobile-nav-open {
         display: block;
         max-height: rem(300px);
      }

      ul {
         li {
            padding: 0.5rem 0;
         }
      }
   }
}
