// Colors
$clr1: #4169E1;
$clr2: #fff;
$clr3:#121e45;
$clr4: #214CCE;
$clr5: #282d37;
$clr6: #1c2029;

// new colors
$clr7: #1B2131;
$clr8: #2D3752;
$clr9: #BEBEBE;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;